In [16]:
import glob
import os
import re
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [23]:
def sentence_evaluation(summaryfiles_dir):
    lengths = dict()
    summaryFiles = glob.glob(summaryfiles_dir)
    for h in summaryFiles:
        foldername_search = re.search(r'[^\\/:*?"<>|\r\n]+$', h)
        foldername = (foldername_search.group()).split('.')[0]
        with open(h, 'r') as f:
            hypothesis = f.read()
            tokenizer = RegexpTokenizer(r'\w+')
        length = len(tokenizer.tokenize(hypothesis))
        lengths[foldername] = length
    df = pd.DataFrame.from_dict(lengths, orient='index',
                       columns=['length'])
    return df.describe()

In [24]:
sentence_evaluation(r'../data/processed/textrank/*')

           length
count   51.000000
mean    73.921569
std     13.303899
min     48.000000
25%     65.500000
50%     71.000000
75%     79.000000
max    116.000000

In [27]:
sentence_evaluation(r'../data/processed/lexrank/*')

          length
count  51.000000
mean   18.901961
std    12.226618
min     5.000000
25%     9.000000
50%    18.000000
75%    24.000000
max    61.000000

In [26]:
sentence_evaluation(r'../data/processed/opinosis/*')

           length
count   51.000000
mean    19.117647
std     30.572960
min      2.000000
25%      6.500000
50%     12.000000
75%     17.000000
max    199.000000